
<div class="container">

  <!-- First Card -->
  <div class="item">
    <h2 class="title">Fullstack Developer</h2>

    <ul>
      <li>Alan Lima</li>
      <li>Paris</li>
      <li>Start development in 2015</li>
      <li>Start web development in 2018</li>
    </ul>

  </div>

  <!-- Second Card -->
  <div class="item">
    <h2 class="title">Hardskills</h2>

    <ul>
      <li>Php & Symfony</li>
      <li>NodeJs</li>
      <li>Angular</li>
      <li>MacOs X</li>
    </ul>

  </div>

  <!-- Third Card -->
  <div class="item">
    <h2 class="title">Softskills</h2>

    <ul>
      <li>Strong communicant</li>
      <li>Good learner</li>
    </ul>

  </div>
</div>
