
<div class="container">

  <!-- First Card -->
  <div class="item">
    <h2 class="title">Fullstack Developer</h2>

    <ul>
      <li>Alan Lima</li>
      <li>Paris</li>
      <li>Start development in 2015</li>
      <li>Start web development in 2018</li>
    </ul>

  </div>

  <!-- Second Card -->
  <div class="item">
    <h2 class="title">Hardskills</h2>

    <ul>
      <li>Php & Symfony</li>
      <li>NodeJs</li>
      <li>Angular</li>
      <li>MacOs X</li>
    </ul>

  </div>

  <!-- Third Card -->
  <div class="item">
    <h2 class="title">Softskills</h2>

    <ul>
      <li>Strong communicant</li>
      <li>Good learner</li>
      <li>Organized</li>
      <li>Conscientious</li>
    </ul>

  </div>

  <!-- Fourth Card -->
  <div class="item">
    <h2 class="title">Experiences</h2>

    <ul>
      <li>
        <b>Tornika SAS</b>
        <i>From October 2018 to September 2020</i>
        <p class="experience">
          Durant mon alternance au sein d'Hypecode, j'ai été chargé de différentes missions tels que :
          <li>Développer, maintenir et déployer des API (Symfony 3.4 à 4.4) sur la solutions Amazon Web Service.</li>
          <li>Maintenir les différentes bases de données de l'entreprise (MySQL et Redshift).</li>
          <li>Participer à la conception de nouveau modèle de base de données ainsi qu'à leurs migrations.</li>
          <li>Suivre les bonnes pratiques de développement PHP/Symfony afin de produire un code évolutif et scalable.</li>
          <li>Rédiger la documentation technique des développements réalisés.</li>
          <li>Rédiger les tests unitaires et fonctionnels pour tout développements effectués.</li>
          <li>Développer une interface de reporting pour nos prestataires.</li>
          </p>
      </li>
    </ul>

  </div>
</div>
